// Write (or import) your styles here
/* arabic */

.img-100{
    width: 100px;
    height: 100px;
}

.btn:hover{
    color: #485779;
}
.switch.rtl .switch-slider::before
{
    left: auto;
    right: -1px;
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
}

.switch.rtl .switch-input:checked + .switch-slider::before{
    left: -1px;
    right: auto;
    -webkit-transform: translateX(-1px);
    transform: translateX(-1px);
}

.switch.flipValue .switch-input:checked + .switch-slider{
    background: #FE3F61 !important;
    border-color: #FE3F61;
}
.switch.flipValue .switch-slider{
    background: #60CF7D !important;
    border-color: #60CF7D;
}
.switch-3d .switch-slider{
    background: #FE3F61 !important;
    border-color: #FE3F61;
}
.col-form-label{
    color: #23282c;
}

footer.app-footer .container-fluid .pull-right{
    display: none;   
}


.app-body > .sidebar .nav-dropdown-items {
    background-color: #5B6E99;
    text-indent: 10px;
}

.sidebar .nav-item{
    white-space: nowrap;
}
@media (min-width: 992px) {

    .app:not(.sidebar-minimized) .app-body .sidebar,
    .app:not(.sidebar-minimized) .app-body .sidebar .sidebar-nav,
    .app:not(.sidebar-minimized) .app-body .sidebar .nav{
        width: 250px !important;
    }

    html:not([dir="rtl"]) .app:not(.sidebar-minimized).sidebar-lg-show.sidebar-fixed .main, 
    html:not([dir="rtl"]) .app:not(.sidebar-minimized).sidebar-lg-show.sidebar-fixed .app-footer, 
    html:not([dir="rtl"]) .app:not(.sidebar-minimized).sidebar-show.sidebar-fixed .main, 
    html:not([dir="rtl"]) .app:not(.sidebar-minimized).sidebar-show.sidebar-fixed .app-footer
    {
        margin-left: 250px !important;
    }
}